<h1>Entries</h1>
<table>
  <tr>
    <th>URL</th>
    <th>Duration</th>
    <th>Project</th>
  </tr>

  <% @entries.each do |entry| %>

    <tr>
      <td><%= entry.url %></td>
      <td><%= entry.duration %></td>
      <td><%= entry.project_name %></td>
    </tr>
  <% end %>
</table>
