<h1>Containers</h1>

<% if Container.possible_paths.any? %>
  <%= link_to 'New Container', new_container_path %>
<% else%>
  <p>Can't support any more containers. Please record more time!</p>
<% end %>
<table>
  <tr>
    <th>Path</th>
    <th>Actions</th>
  </tr>
<% @containers.each do |container| %> 
  <tr>
    <td><%= container.path %></td>
    <td><%= link_to 'Delete', container_path(container), method: :delete %></td>
  </tr>
<% end %>
</table>
