<h1>Projects</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Time</th>
  </tr>
<% @projects.each do |project| %>
  <tr>
    <td><%= project.name.titleize %></td>
    <td><%= project.entries.map(&:duration).inject(&:+) %></td>
  </tr>
<% end %>
</table>
