<h1>Projects</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Path</th>
    <th>Time</th>
  </tr>
<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.path %></td>
    <td><%= distance_of_time_in_words(project.entries.map(&:duration).inject(&:+)) %></td>
  </tr>
<% end %>
</table>
